@import "./tw.css";

/* Chrome, Safari, Edge, Opera */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.glassy {
  background: rgba(39, 39, 39, 0.2);
  backdrop-filter: blur(50px);
  transition: 0.3s all ease-in;
}

.glassy:hover {
  box-shadow: 0 0 80px rgba(255, 255, 255, 0.15);
}

